<link rel="stylesheet" href="../assets/css/materialize.min.css">
<link rel="stylesheet" href="../assets/css/style.css">
<script src="../assets/js/materialize.min.js"></script>
<nav class="black lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li>
        <a [routerLink]="['/search/author']" [routerLinkActive]="['red']">Autor</a>
      </li>
      <li>
        <a [routerLink]="['/search/year']" [routerLinkActive]="['red']">Año</a>
      </li>
      <li>
        <a [routerLink]="['/search/area']" [routerLinkActive]="['red']">Area</a>
      </li>
      <li>
        <a [routerLink]="['/search/title']" [routerLinkActive]="['red']">Título</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>