<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="../assets/css/materialize.min.css">
<link rel="stylesheet" href="../assets/css/style.css">
<script src="../assets/js/materialize.min.js"></script>

<nav class="black lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" [routerLink]="['']" class="brand-logo"><img src="../assets/res/logo.png" height="64" width="200"></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a *ngIf="_logger.isLoged()" [routerLink]="['/profile']" [routerLinkActive]="['red']">Mi perfil</a>
      </li>
      <li>
        <a [routerLink]="['/search']" [routerLinkActive]="['red']">Buscar un libro</a>
      </li>
      <li>
        <a *ngIf="!_logger.isLoged()" [routerLink]="['/register']" [routerLinkActive]="['red']">Registrarse</a>
      </li>
      <li>
        <a *ngIf="_logger.getRole()" [routerLink]="['/register-book']" [routerLinkActive]="['red']">Añadir libro</a>
      </li>
      <li>
        <a *ngIf="_logger.getRole()" [routerLink]="['/pendientes']" [routerLinkActive]="['red']" >Pedidos</a>
      </li>
      <li>
        <a *ngIf="_logger.getRole()" [routerLink]="['/prestados']" [routerLinkActive]="['red']" >Prestados</a>
      </li>
      <li>
        <a *ngIf="_logger.getRole()" [routerLink]="['/users']" [routerLinkActive]="['red']">Usuarios</a>
      </li>
      <li>
        <a *ngIf="!_logger.isLoged()" [routerLink]="['/login']" [routerLinkActive]="['red']">Login</a>
      </li>
      <li>
        <a *ngIf="_logger.isLoged()" [routerLink]="['/logout']">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
