from:
<input [(ngModel)]="year1">
to:
<input [(ngModel)]="year2">
<button id="search" (click)="buscar()">Filtrar</button>
<div>
    <ul *ngIf="libros">
      <li *ngFor="let libro of libros">
        Título: {{libro.name}}
        <br/>
        Autor: {{libro.author.firstName}} {{libro.author.lastName}} <p *ngIf="libro.author.nickName" >({{libro.author.nickName}})</p>
        <br/>
        Edición: {{libro.edition}}
        <br/>
        Solicitante: {{libro.borrowerID}}
        <br/>
        <button id="prestar" (click)="recoger(libro)" >Recoger</button>
        <hr/>
      </li>
    </ul>
    <span *ngIf="!libros">Cargando información...</span>
  </div>
  