<link rel="stylesheet" href="../assets/css/materialize.min.css">
<link rel="stylesheet" href="../assets/css/style.css">
<script src="../assets/js/materialize.min.js"></script>
<form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();">
  <label>Nombre: </label>
  <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name"
   required pattern="[a-zA-Z0-9]+">
  <span *ngIf="name.touched && !name.valid">
    El nombre es invalido.
  </span>
  <br />
  <label>Apellido: </label>
  <input type="text" name="ln" #ln="ngModel" [(ngModel)]="user.lastName"
         required pattern="[a-zA-Z]+">
  <span *ngIf="ln.touched && !ln.valid">
    El apellido es invalido.
  </span>
  <br />
  <label>Correo: </label>
  <input type="text" name="mail" #mail="ngModel" [(ngModel)]="user.email"
         required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
  <span *ngIf="mail.touched && !mail.valid">
    El apellido es invalido.
  </span>
  <br />
  <label>Edad: </label>
  <input type="number" name="age" #age="ngModel" [(ngModel)]="user.age"
         required>
  <span *ngIf="age.touched && !age.valid">
    La edad es invalida.
  </span>
  <br />
  <label>Password: </label>
  <input type="password" name="pass" #pass="ngModel" [(ngModel)]="user.password"
         required pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8}$">
  <span *ngIf="pass.touched && !pass.valid">
    La contraseña debe tener 8 caracteres mínimo, 1 mayúscula, 1 caracter especial (!@#$&*), 1 número y 1 minúscula.
  </span>
  <br />
  <label>Role: </label>
  <input type="text" name="in" #in="ngModel" [(ngModel)]="roleinput">
  <br />
  <input class="btn-large waves-effect waves-light green" 
  type="submit" value="Guardar" [disabled]="!formUser.form.valid"/>
  <br />
</form>
